/* ? pagination style */

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.pagination button {
  min-width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #f3f3f3;
  transition: 0.2s;
}

.pagination button:hover {
  transform: translateY(-2px);
}

.pagination button.active {
  background: var(--mainColor);
  color: white;
}

@media (max-width: 980px) {
  .product-cont {
    padding: 40px;
  }
}
@media (max-width: 620px) {
  .product-cont {
    padding: 20px;
    grid-template-columns: 1fr;
  }
}
