.wishlistCont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 20px 80px;
  scroll-margin-top: 80px;
}

@media (max-width: 980px) {
  .wishlistCont {
    padding: 40px;
  }
}
@media (max-width: 620px) {
  .wishlistCont {
    padding: 20px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .wishlistCont {
    padding: 20px 10px;
    grid-template-columns: 1fr;
  }
}
