.extra-info-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.extra-info-cont div {
  flex: 1;
  border-radius: 10px;
}

.extra-info-heading {
  font-size: 24px;
  margin-bottom: 15px;
}

@media (width <= 820px) {
  .extra-info-cont {
    flex-direction: column;
  }
}
