.hero {
  background: white;
  border-radius: 20px;
  max-width: 1400px;
  width: 90%;
  margin: 20px auto;
  padding: clamp(1.5rem, 4vw, 3rem);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.hero-main {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  align-items: center;
  gap: 3rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.hero-image-container {
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 100%;
  max-width: 600px;
  object-fit: contain;
}

.tag {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 10px;

  background: var(--secondaryColor);
  color: var(--mainColor);

  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.btn-cont {
  display: flex;
  gap: 1rem;
}

.btn-main {
  background-color: var(--mainColor);
  color: white;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  &:hover {
    background-color: white;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
  }
}

.btn-second {
  background-color: white;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  transition: all 0.2s ease-in;
  &:hover {
    background-color: var(--mainColor);
    color: white;
  }
}

@media (max-width: 768px) {
  .hero-main {
    grid-template-columns: 1fr;
  }

  .hero-image-container {
    order: -1;
  }

  .btn-cont {
    justify-content: center;
  }
}
