:root {
  --mainColor: #800020;
  --secondaryColor: #f3d8dd;
  --lightText: #f5e6e8;
  --accentColor: #d4a5ad;
  --whiteText: #ffffff;
  --darkText: #2d1215;
  --light-gray: #efefef;
  --dark-gray: #a5a0a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--light-gray);
}

.sections {
  width: 90vw;
  margin: 50px auto;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-heading a {
  color: var(--mainColor);
}

/*& DISABLE USER SELECT & BLUE HIGHLIGHT */
* {
  -webkit-tap-highlight-color: transparent;
  /* Chrome, Safari, Android */
  outline: none;
  /* focus outline remove */
  -webkit-user-select: none;
  /* text select remove */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
